@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 90 100% 49%;
    --primary-foreground: 90 100% 10%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 180 100% 50%;
    --accent-foreground: 180 100% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 180 100% 50%;

    --radius: 0.8rem;
  }
  .dark {
    --background: 212 28% 14%;
    --foreground: 210 40% 98%;

    --card: 213 27% 17%;
    --card-foreground: 210 40% 98%;

    --popover: 213 27% 17%;
    --popover-foreground: 210 40% 98%;

    --primary: 90 100% 49%;
    --primary-foreground: 90 100% 10%;

    --secondary: 212 28% 20%;
    --secondary-foreground: 210 40% 98%;

    --muted: 212 28% 20%;
    --muted-foreground: 215 20% 65%;

    --accent: 180 100% 50%;
    --accent-foreground: 180 100% 10%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --border: 212 28% 25%;
    --input: 212 28% 25%;
    --ring: 180 100% 50%;
    
    --sidebar-background: 212 28% 11%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 90 100% 49%;
    --sidebar-primary-foreground: 90 100% 10%;
    --sidebar-accent: 180 95% 20%;
    --sidebar-accent-foreground: 180 100% 80%;
    --sidebar-border: 212 28% 20%;
    --sidebar-ring: 180 100% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    min-height: 100vh;
  }
}
